/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Css variables */
:root {
  --primary-color: #734b1e; /*lightbrown*/
  --secondary-color: #372316; /*dark brown*/
  --sub-heading-color: #b1844d;
  --secondary-background-color: #e8dfd6;
  --background-color: #fdfcfb;
  --navbar-color: #c2967a;
  --secondary-heading-color: #a4836c;
  --icon-color: #928928;
  --third-heading-color: #a25901;
  --primary-font: "inter", sans-serif;
  --secondary-font: "Fraunces", serif;

}
/* Custom styles */
.custom-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
}
.custom-button:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}
.custom-button-outline {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.custom-button-outline:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: 2px solid var(--primary-color);
}
.icon {
  color: var(--third-heading-color);
  font-size: 2rem;
}
.hiding-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.icon-heading {
  color: var(--third-heading-color);
}

/* Global styles */
html {
    scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);

  background-color: var(--secondary-background-color);
}
/* #e3d9cf */
h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  padding-top: 20px;
}

.section {
  padding-top: 2.5rem;
  
}
ul {
  list-style-type: none;
  padding: 0;
}
.row-background {
  background-color: var(--background-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Navigation styles */
.navbar {
  background-color: var(--navbar-color);
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--secondary-font);
  color: var(--primary-color);
}
.navbar-brand:hover {
  color: var(--primary-color);
}
.nav-link.active {
  color: var(--primary-color) !important;
}
.navbar-nav .nav-link {
  color: var(--background-color);
}
.navbar-nav .nav-link:hover {
  color: var(--primary-color);
}
.nav-link.active {
  color: var(--primary-color);
}
/* Header */
#header .row {
  background-color: var(--background-color);
}
#header .lead {
  color:var(--sub-heading-color);
  font-weight: 400;
}
#header .display-3 {
  font-weight: 400;
}
#header img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* About section */
#about .row {
  background-color: var(--background-color);
}
/* Menu section */
#menu .row {
  background-color: var(--background-color);
}
#menu .card {
  border: 1px solid var(--secondary-background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
#menu .card:hover {
  transform: translateY(-5px);
}
#menu .card-title {
  font-family: var(--secondary-font);
  color: var(--third-heading-color);
}
#menu .card-img-top {
  height: 200px;
}
#menu .card-body {
  height: 180px;
}

#menu .card-footer {
  background-color: var(--secondary-background-color);
  border-top: none;
  font-weight: bold;
  color: var(--primary-color);
}
/* footer */
footer {
  background-color: var(--navbar-color);
  color: var(--background-color);
}
footer .social-links a {
  color: var(--primary-color);
  font-size: 2rem;
  margin-right: 2rem;
}
/* Menu page */
#menu-page h2 {
  padding: 0;
}
.menu-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}
.menu-categories ul {
  
  text-align: center;
  margin: 30px;
  
}
.menu-categories ul li {
  margin-bottom: 2rem;
}

.menu-categories ul li a {
  text-decoration: none;
  color: var(--third-heading-color);
  font-weight: 500;
  font-size: 1.5rem;
}
.menu-categories ul li a:hover {
  color: var(--primary-color);
}

#menu-page .section {
  background-color: var(--background-color);
  margin-top: 5rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* Hot/cold Drinks section */
.style ul li {
  padding: 10px;
  font-size: 1.5rem;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.style ul li .drink {
  color: #854a02;
  font-weight: 400;
}
.style ul li .price {
  background-color: #854a02;
  color: var(--background-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0 10px;
}
/* Gallery page */
#gallery img {
  width: 100%;
  height:400px;
  margin-bottom: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3 ease;
  -webkit-transition: 0.3 ease;
  -moz-transition: 0.3 ease;
  -ms-transition: 0.3 ease;
  -o-transition: 0.3 ease;
}
#gallery img:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
/* Contact Section */
#contact address svg {
  font-size: 1.5rem;
  color: var(--third-heading-color);
  margin-right: 1rem;
}
.table th {
  color: var(--third-heading-color);
}
/* Media Queries */
/* media query: for small and landscape phones, min-width:320px and up */
/* menu section */
@media screen and (min-width: 320px) {
  #menu .card {
    margin-top: 2rem;
  }
}

/* media query: for medium and larger screens, min-width:768px and up */
/* menu page */
@media screen and (min-width: 768px) {
  .menu-categories ul li {
    font-size: 1.5rem;
  }
  .menu-image img {
    height: 385px;
  }
}
