/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Css variables */
:root {
  --primary-color: #936138; /*lightbrown*/
  --secondary-color: #372316; /*dark brown*/
  --sub-heading-color: #b1844d;
  --secondary-background-color: #f0ebe5;
  --background-color: #faf7f7;
  --navbar-color: #2b1d18;
  --button-background-color: #805736;
  --secondary-heading-color: #a4836c;
  --third-heading-color: #a25901;
  --primary-font: "inter", sans-serif;
  --secondary-font: "Fraunces", serif;
}
/* Custom styles */
.custom-button {
  background-color:#C9A382;
  color: var(--navbar-color) !important;
  border: none;
}
.custom-button:hover {
  background-color: var(--background-color);
  color: var(--button-background-color);
}
.custom-button-outline {
  background-color: var(--background-color);
  color: var(--button-background-color);
  border: 2px solid var(--button-background-color);
}
.custom-button-outline:hover {
  background-color: var(--button-background-color);
  color: var(--background-color);
  border: 2px solid var(--button-background-color);
}
.icon {
  color: var(--third-heading-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  .icon-heading {
    font-size: 1rem;
  }
}
.hiding-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.icon-heading {
  color: var(--third-heading-color);
}

/* Global styles */
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);

  background-color: var(--secondary-background-color);
}
/* #e3d9cf */
h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  margin-top: 2rem;
  text-transform: uppercase;
}

.section {
  padding-top: 2rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
.row-background {
  background-color: var(--background-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Navigation styles */
.navbar {
  background-color: var(--navbar-color);
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--secondary-font);
  color: #C9A382;
  text-transform: uppercase;
}
.navbar-brand:hover {
  color: #C9A382;
}
.nav-link.active {
  color:#C9A382 !important;
}
.navbar-nav .nav-link {
  color: var(--background-color);
}
.navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

/* Header */
#header .row {
  background-color: var(--background-color);
}
#header .lead {
  color: var(--sub-heading-color);
  font-weight: normal;
  margin-top: 1rem;
}
#header .display-3 {
  font-weight: 500;
}
#header .line-height {
  line-height: 1.8;
  font-size: 20px;
}
#header img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* About section */
#about .row {
  background-color: var(--background-color);
}
#about p {
  line-height: 1.8;
}
/* Menu section */
#menu .row {
  background-color: var(--background-color);
}
#menu .card {
  border: 1px solid var(--secondary-background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}
#menu .card:hover {
  transform: translateY(-5px);
  -webkit-transform:translateY(-5px);
  -moz-transform:translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
#menu .card-title {
  font-family: var(--secondary-font);
  color: var(--third-heading-color);
  font-size: 24px;
  margin-top: 1rem;
}
#menu .card-img-top {
  height: 200px;
}
#menu .card-body {
  height: 180px;
}

#menu .card-footer {
  background-color: #dfd9d1;
  border-top: none;
  font-weight: bold;
  color: #784821;
}
/* footer */
footer h2 {
color: #C9A382;
}
footer {
  background-color: var(--navbar-color);
  color: var(--background-color);
}
footer .social-links a {
  color:#C9A382;
  font-size: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
footer .social-links a:hover {
  color: var(--background-color);
}
/* Menu page */
#menu-page .section {
  background-color: var(--background-color);
  margin-top: 5rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#menu-page h2 {
  margin-bottom: 20px;
}
.menu-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
}
.menu-categories ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 1fr));
  text-align: center;
  margin-top: 20px;
}
.menu-categories ul li {
  margin-bottom: 2rem;
}

.menu-categories ul li a {
  text-decoration: none;
  color: var(--third-heading-color);
  font-weight: 500;
  font-size: 1.5rem;
}
.menu-categories ul li a:hover {
  color: var(--primary-color);
}
/* Hot/cold Drinks section */
.style ul li {
  padding: 10px;
  font-size: 1.5rem;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.style ul li .drink {
  color: #854a02;
  font-weight: 400;
}
.style ul li .price {
  background-color: #854a02;
  color: var(--background-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0 10px;
}
/* Gallery page */
#gallery .section {
  padding-top: 4rem;
}
#gallery img {
  width: 100%;
  height: 400px;
  margin-bottom: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
#gallery img:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
/* Contact Section */
#contact p {
  line-height: 3;
}
#contact address svg {
  font-size: 1.5rem;
  color: var(--third-heading-color);
  margin-right: 1rem;
}
.table,
tr,
td,
th {
  background-color: transparent !important;
}
.table th {
  color: var(--third-heading-color);
}

/* inquiry page */
#inquiry {
  background-color: var(--secondary-background-color);
  min-height: 100vh;
  color: white;
}

#inquiry .section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
#inquiry .row-background {
  box-shadow: 0px 0 10px var(--secondary-background-color);
  margin-top: 20px;
  background-image: url(../images/coffee-beans.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#inquiry .row-background::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  border-radius: 10px;
}
#inquiry .row-background-inquiry {
  z-index: 1;
  position: relative;
}
#inquiry p {
  padding: 0 1rem;
}
.form-group {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: var(--secondary-background-color);
  text-align: start;
  font-size: 20px;
  padding: 0 10px;
  font-weight: 500;
}

/* color: #b9855a; */

.form-group #subject {
  color: var(--primary-color);
  font-weight: 600;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--secondary-background-color);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.125);
  color: white;
}
#inquiry textarea {
  height: 150px;
}
#inquiry button {
  background-color: rgba(0, 0, 0, 0.125);
  color: var(--secondary-background-color);
  border: 2px solid var(--secondary-background-color);
  font-weight: 700;
}
#inquiry button:hover {
  background-color: var(--button-background-color);
  color: var(--secondary-background-color);
}
/* Media Queries */
/* media query: for small and landscape phones, min-width:320px and up */
/* menu section */
@media screen and (min-width: 320px) {
  #menu .card {
    margin-top: 2rem;
  }
}

/* media query: for medium and larger screens, min-width:768px and up */
/* menu page */
@media screen and (min-width: 768px) {
  .menu-categories ul li {
    font-size: 1.5rem;
  }
  .menu-image img {
    height: 385px;
  }
}
